<% for (let i=0; i<data.length; i++) {%>
    <div class="card m-1 col-sm-12">
        <img src="<%= data[i].cover_image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= data[i].title %></h5>
            <p class="card-text"><%= data[i].description %></p>
            <a href="<%= data[i].url %>" target="_blank" class="btn btn-primary">Go to post</a>
        </div>
    </div>
<%}%>